<div id="sidebar">
    <ul>
    {{#if warnOffline}}
        {{#unless isOnline}}
            <li id="offwarn">
                <img src="{{stylePath}}/images/dash/warn.gif" alt="" width="24" height="24"/>
                <p>{{{goOnlineLink}}}</p>
            </li>
        {{/unless}}
    {{/if}}
    {{#if showMenu}}
        <li>
            <h2>{{l10n "Main"}}</h2>
            <ul class="submenu">
                <li{{#ifEqual menuid "main"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator">{{l10n "Home"}}</a></li>
                <li{{#ifEqual menuid "users"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/users">{{l10n "Visitors"}}</a> <span class="small">(<a class="inner" href="{{mibewRoot}}/operator/users?nomenu">{{l10n "without menu"}}</a>)</span></li>
                <li{{#ifEqual menuid "history"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/history">{{l10n "Chat history"}}</a></li>
                {{#if showstat}}
                    <li{{#ifEqual menuid "statistics"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/statistics">{{l10n "Statistics"}}</a></li>
                {{/if}}
                {{#if showban}}
                    <li{{#ifEqual menuid "bans"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/ban">{{l10n "Blocked visitors"}}</a></li>
                {{/if}}
            </ul>
        </li>
        <li>
            <h2>{{l10n "Administration"}}</h2>
            <ul class="submenu">
                <li{{#ifEqual menuid "canned"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/canned-message">{{l10n "Canned Messages"}}</a></li>
                {{#if showadmin}}
                    <li{{#ifEqual menuid "getcode"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/button-code">{{l10n "Button code"}}</a></li>
                    <li{{#ifEqual menuid "operators"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/operator">{{l10n "Operators"}}</a></li>
                    <li{{#ifEqual menuid "groups"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/group">{{l10n "Groups"}}</a></li>
                    <li{{#ifEqual menuid "settings"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/settings">{{l10n "Settings"}}</a></li>
                    <li{{#ifEqual menuid "styles"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/style/page/preview">{{l10n "Styles"}}</a></li>
                    <li{{#ifEqual menuid "translation"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/translation">{{l10n "Localize"}}</a></li>
                    <li{{#ifEqual menuid "mail_templates"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/mail-template">{{l10n "Mail templates"}}</a></li>
                    <li{{#ifEqual menuid "updates"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/updates">{{l10n "Updates"}}</a></li>
                {{/if}}
                {{#if currentopid}}
                    <li{{#ifEqual menuid "profile"}} class="active"{{/ifEqual}}><a href="{{mibewRoot}}/operator/operator/{{currentopid}}/edit">{{l10n "Profile"}}</a></li>
                {{/if}}
            </ul>
        </li>
        <li>
            <h2>{{l10n "Other"}}</h2>
            <ul class="submenu">
                <li><a href="{{mibewRoot}}/operator/logout">{{l10n "Exit"}}</a></li>
            </ul>
        </li>
    {{/if}}
    </ul>
</div>