{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        <div class="about-page">
            <div class="form-wrapper">
                <div class="form-header">
                    <div class="form-header-inwards"></div>
                </div>

                <div class="form-inwards">
                    <h2>{{l10n "About Mibew Messenger"}}</h2>
                    <p>{{l10n "Mibew Messenger is an open-source live support application licensed under the terms of the Apache License 2.0."}}<p>
                    <p>{{{l10n "Copyright &copy; {0} Contributors of the Mibew Messenger project." "2005-2018"}}}</p>
                    <p>{{{l10n "For more information visit the official site of the project: <a href=\"https://mibew.org/\">https://mibew.org/</a>"}}}</p>

                    {{#if showSystemInfo}}
                        <br/><br/>

                        <h2>{{l10n "System information"}}</h2>
                        <h3>{{l10n "You are using:"}}</h3>
                        <div id="current-version">{{version}}</div>

                        <br/>

                        <h3>{{l10n "Installed localizations:"}}</h3>
                        {{#each localizations}}
                            {{this}}
                        {{/each}}

                        <br/><br/>

                        <h3>{{l10n "Environment:"}}</h3>
                        PHP {{phpVersion}} {{#each extensions}}{{@key}}{{#if loaded}}{{#if version}}/{{version}}{{/if}}{{else}}/absent{{/if}} {{/each}}

                        <br/><br/>

                        <h2>{{l10n "Available updates"}}</h2>
                        {{#if availableUpdates}}
                            {{#each availableUpdates}}
                                <h3>{{title}} ({{version}})</h3>
                                {{#if description}}
                                    <div>{{description}}</div>
                                {{/if}}
                                <div>
                                    <a href="{{url}}">{{l10n "Download"}}</a>
                                </div>

                                <br/>
                            {{/each}}
                        {{else}}
                            {{l10n "There are no available updates."}}<br/><br/>
                        {{/if}}
                        <a href="{{route "update_check"}}">{{l10n "Check for available updates"}}</a>
                    {{/if}}
                </div>

                <div class="form-footer">
                    <div class="form-footer-inwards"></div>
                </div>
            </div>
        </div>
    {{/override}}
{{/extends}}