{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        <div class="about-page">
            <div class="form-wrapper">
                <div class="form-header">
                    <div class="form-header-inwards"></div>
                </div>

                <div class="form-inwards">
                    <h2>{{l10n "Credits"}}</h2>

                    <h3>{{l10n "Developers:"}}</h3>
                    <ul>
                        <li>Dmitriy Simushev</li>
                        <li>Fedor A. Fetisov</li>
                    </ul>

                    <h3>{{l10n "Former developers:"}}</h3>
                    <ul>
                        <li>Evgeny Gryaznov</li>
                    </ul>

                    <h3>{{l10n "Contributors:"}}</h3>
                    <ul>
                        <li>Borja Rubio</li>
                        <li>ChrisS</li>
                        <li>Ed Kraus</li>
                        <li>falcon</li>
                        <li>Haynes</li>
                        <li>Ido Green</li>
                        <li>novagen</li>
                        <li>Peter Harkins</li>
                        <li>Seyed Mahmood Reza Sajjadi</li>
                        <li>YuFei Zhu</li>
                        <li>X Chen</li>
                    </ul>

                    <h3>{{l10n "Designers:"}}</h3>
                    <ul>
                        <li>Logo – Michael Tunnell</li>
                        <li>Silver theme – Alekin Pavel</li>
                    </ul>

                    <h3>{{l10n "Translators:"}}</h3>
                    <ul>
                        <li>Arabic – Mostafa Khattab and Active4web.net Developers; Tallal Suliman Eshaq</li>
                        <li>Belarusian – Berasneu</li>
                        <li>Bulgarian – Teodor Todorov</li>
                        <li>Catalan – Enric Garcia Barrios</li>
                        <li>Deutsch – Gregor</li>
                        <li>Dutch – Martin van der Linden; Erik Kerkhoven, Zen4All</li>
                        <li>English – Olimax</li>
                        <li>French – Hominn, Bard of LLYDAW</li>
                        <li>Hebrew – MediaCMS Team</li>
                        <li>Hrvatski – Gorana Rabar</li>
                        <li>Hungarian – bercy; Istvan Somlai</li>
                        <li>Indonesian – Adi Nugroho</li>
                        <li>Italiano – CT32; Luca Sasdelli; Christopher Pecoraro</li>
                        <li>Japanese – flashbay.com</li>
                        <li>Korean – flashbay.fr</li>
                        <li>Lithuanian – LiveChat.lt</li>
                        <li>Norwegian – onlinehjelpen.no, V. Kopperud</li>
                        <li>Persian – Amir Khani; Great Cyrus</li>
                        <li>Polski – Kacper Wierzbicki, WebTower</li>
                        <li>Português Brasil – Leandro Luquetti</li>
                        <li>Português Portugal – Carlos Silva</li>
                        <li>Romanian – Tallal Suliman Eshaq</li>
                        <li>Russian – Evgeny Gryaznov</li>
                        <li>Spanish – Christian Mauricio Castillo Estrada, Lamies; Jesus Plaza; Yordan Soares</li>
                        <li>Swedish – Sverok – Oliver Sundström, Nina Högberg, Andreas Brodin and David Stenström; Peter Törnqvist</li>
                        <li>Thai – Bongkoch P.</li>
                        <li>Simplified Chinese – codion; Xiaoyu; X Chen</li>
                        <li>Traditional Chinese – Dawei; X Chen</li>
                        <li>Ukrainian – azzepis</li>
                    </ul>

                    <h2>{{l10n "System information"}}</h2>
                    <h3>{{l10n "You are using:"}}</h3>
                    <div id="current-version">{{version}}</div>

                    <br/>

                    <h3>{{l10n "Latest version:"}}</h3>
                    <div id="latest-version">{{l10n "unknown"}}</div>

                    <br/>

                    <h3>{{l10n "Installed localizations:"}}</h3>
                    {{#each localizations}}
                        {{this}}
                    {{/each}}

                    <br/><br/>

                    <h3>{{l10n "Environment:"}}</h3>
                    PHP {{phpVersion}} {{#each extensions}}{{@key}}{{#if loaded}}{{#if version}}/{{version}}{{/if}}{{else}}/absent{{/if}} {{/each}}
                </div>

                <div class="form-footer">
                    <div class="form-footer-inwards"></div>
                </div>
            </div>
        </div>
    {{/override}}
{{/extends}}