{{#extends "_layout"}}
    {{#override "content"}}
        {{#if saved}}
            {{l10n "page_ban.sent" address}}

            <script type="text/javascript"><!--
                if(window.opener && window.opener.location) {
                    window.opener.location.reload();
                }
                setTimeout( (function() { window.close(); }), 1500 );
            //--></script>
        {{else}}
            {{l10n "page_ban.intro"}}

            <br/>
            <br/>

            {{> _errors}}

            {{#if thread}}
                {{l10n "page_ban.thread" thread}}<br/>
                <br/>
            {{/if}}

            <form name="banForm" method="post" action="{{mibewRoot}}/operator/ban.php">
                {{csrfTokenInput}}
                <input type="hidden" name="banId" value="{{banId}}"/>

                {{#if threadid}}
                    <input type="hidden" name="threadid" value="{{threadid}}"/>
                {{/if}}

                <div class="mform">
                    <div class="formtop">
                        <div class="formtopi"></div>
                    </div>

                    <div class="forminner">
                        <div class="fieldForm">
                            <div class="field">
                                <label for="address" class="flabel">{{l10n "form.field.address"}}<span class="required">*</span></label>
                                <div class="fvalue">
                                    <input id="address" type="text" name="address" size="40" value="{{formaddress}}" class="formauth"/>
                                </div>
                                <label for="address" class="fdescr"> &mdash; {{l10n "form.field.address.description"}}</label>
                                <br clear="all"/>
                            </div>

                            <div class="field">
                                <label for="days" class="flabel">{{l10n "form.field.ban_days"}}<span class="required">*</span></label>
                                <div class="fvalue">
                                    <input id="days" type="text" name="days" size="4" value="{{formdays}}" class="formauth"/>
                                </div>
                                <label for="days" class="fdescr"> &mdash; {{l10n "form.field.ban_days.description"}}</label>
                                <br clear="all"/>
                            </div>

                            <div class="field">
                                <label for="comment" class="flabel">{{l10n "form.field.ban_comment"}}<span class="required">*</span></label>
                                <div class="fvalue">
                                    <input id="comment" type="text" name="comment" size="40" value="{{formcomment}}" class="formauth"/>
                                </div>
                                <label for="comment" class="fdescr"> &mdash; {{l10n "form.field.ban_comment.description"}}</label>
                                <br clear="all"/>
                            </div>

                            <div class="fbutton">
                                <input type="image" name="save" value="" src="{{mibewRoot}}{{l10n "image.button.save"}}" alt="{{l10n "button.save"}}"/>
                            </div>
                        </div>
                    </div>

                    <div class="formbottom">
                        <div class="formbottomi"></div>
                    </div>
                </div>

                <div class="asterisk">
                    {{l10n "common.asterisk_explanation"}}
                </div>

            </form>
        {{/if}}
    {{/override}}
{{/extends}}