{{#extends "_layout"}}
    {{#override "content"}}
        <div id="confirmpane">
            <div class="mform">
                <div class="formtop">
                    <div class="formtopi"></div>
                </div>

                <div class="forminner">
                    {{l10n "confirm.take.message" user agent}}

                    <br/>
                    <br/>
                    <br/>

                    <div>
                        <table class="nicebutton">
                            <tr>
                                <td>
                                    <a href="{{link}}">
                                        <img src="{{stylePath}}/images/submit.gif" width="40" height="35" border="0" alt="" />
                                    </a>
                                </td>
                                <td class="submit">
                                    <a href="{{link}}">
                                        {{l10n "confirm.take.yes"}}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{link}}">
                                        <img src="{{stylePath}}/images/submitrest.gif" width="10" height="35" border="0" alt="" />
                                    </a>
                                </td>
                            </tr>
                        </table>

                        <table class="nicebutton">
                            <tr>
                                <td>
                                    <a href="javascript:window.close();">
                                        <img src="{{stylePath}}/images/submit.gif" width="40" height="35" border="0" alt="" />
                                    </a>
                                </td>
                                <td class="submit">
                                    <a href="javascript:window.close();">
                                        {{l10n "confirm.take.no"}}
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:window.close();">
                                        <img src="{{stylePath}}/images/submitrest.gif" width="10" height="35" border="0" alt="" />
                                    </a>
                                </td>
                            </tr>
                        </table>

                        <br clear="all"/>
                    </div>
                </div>

                <div class="formbottom">
                    <div class="formbottomi"></div>
                </div>
            </div>
        </div>
    {{/override}}
{{/extends}}