{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "View and edit the member list."}}

        <br />
        <br />

        {{> _errors}}

        {{#if stored}}
            <div id="formmessage">{{l10n "Changes saved"}}</div>
        {{/if}}

        <form name="membersForm" method="post" action="{{route "group_members_save" group_id=groupid}}">
            {{csrfTokenInput}}

            <div>
                {{> _tabs}}

                <div class="mform">
                    <div class="formtop">
                        <div class="formtopi"></div>
                    </div>

                    <div class="forminner">
                        <p><b>{{currentgroup}}</b></p>

                        {{#each operators}}
                            <div class="field">
                                <div class="fvaluenodesc">
                                    <input id="op{{operatorid}}" type="checkbox" name="op{{operatorid}}" value="on"{{#if checked}} checked="checked"{{/if}}/>
                                    <label for="op{{operatorid}}">{{vclocalename}} (<a href="{{route "operator_edit" operator_id=operatorid}}/edit">{{vclogin}}</a>)</label>
                                </div>
                            </div>
                        {{/each}}

                        <div class="fbutton">
                            <input type="submit" name="save" class="submit-bg-button save-button" value="{{l10n "Save"}}"/>
                        </div>
                    </div>

                    <div class="formbottom">
                        <div class="formbottomi"></div>
                    </div>
                </div>
            </div>
        </form>
    {{/override}}
{{/extends}}