{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "page_search.intro"}}

        <br />
        <br />

        <form name="searchForm" method="get" action="{{mibewRoot}}/operator/history">
            <div class="mform">
                <div class="formtop">
                    <div class="formtopi"></div>
                </div>

                <div class="forminner">
                    <div class="fieldForm">
                        <div class="field">
                            <label for="q" class="flabel">{{l10n "page_analysis.full.text.search"}}</label>
                            <div class="fvaluenodesc">
                                <div id="searchtext">
                                    <input id="q" type="text" name="q" size="60" value="{{formq}}" class="formauth"/>
                                </div>
                                <div class="searchctrl">
                                    <label for="type">{{l10n "page_search.type.title"}}</label>
                                    <select id="type" name="type" onchange="if (this.value == 'all' || this.value == 'message') {document.getElementById('inSystemMessages').style.display='inline'} else {document.getElementById('inSystemMessages').style.display='none'}; ">
                                        <option value="all" {{#ifEqual formtype "all"}}selected="selected"{{/ifEqual}}>{{l10n "page_search.type.all"}}</option>
                                        <option value="message" {{#ifEqual formtype "message"}}selected="selected"{{/ifEqual}}>{{l10n "page_search.type.message"}}</option>
                                        <option value="operator" {{#ifEqual formtype "operator"}}selected="selected"{{/ifEqual}}>{{l10n "page_search.type.operator"}}</option>
                                        <option value="visitor" {{#ifEqual formtype "visitor"}}selected="selected"{{/ifEqual}}>{{l10n "page_search.type.visitor"}}</option>
                                    </select>
                                </div>
                                <div id="searchbutton">
                                    <input type="image" name="search" src="{{mibewRoot}}{{l10n "image.button.search"}}" alt="{{l10n "button.search"}}"/>
                                </div><br clear="all"/>
                                <div class="searchctrl" id="inSystemMessages"{{#if canSearchInSystemMessages}} style="display: none;"{{/if}}>
                                    <input id="insystemmessagesfield" type="checkbox" name="insystemmessages" {{#if forminsystemmessages}}checked="checked"{{/if}}/> <label for="insystemmessagesfield">{{l10n "page_search.search.type.in_system_messages"}}</label>
                                </div>
                            </div>
                            <br clear="all"/>
                        </div>
                    </div>
                </div>

                <div class="formbottom">
                    <div class="formbottomi"></div>
                </div>
            </div>
        </form>
        <br/>


        <table class="list">
            <thead>
                <tr class="header">
                    <th>{{l10n "page.analysis.search.head_name"}}</th>
                    <th>{{l10n "page.analysis.search.head_host"}}</th>
                    <th>{{l10n "page.analysis.search.head_operator"}}</th>
                    <th>{{l10n "page.analysis.search.head_messages"}}</th>
                    <th>{{l10n "page.analysis.search.head_time"}}</th>
                </tr>
            </thead>

            <tbody>
                {{#each [pagination.items]}}
                    <tr>
                        <td>
                            <a class="man" href="{{../mibewRoot}}/operator/history/thread/{{threadId}}" target="_blank" onclick="this.newWindow = window.open('{{../mibewRoot}}/operator/history/thread/{{threadId}}', '', 'toolbar=0,scrollbars=1,location=0,status=1,menubar=0,width=720,height=520,resizable=1');this.newWindow.focus();this.newWindow.opener=window;return false;">{{userName}}</a>
                        </td>
                        <td>
                            {{{userAddress}}}
                        </td>
                        <td>
                            {{#if agentName}}
                                {{agentName}}
                            {{else}}
                                {{#if groupName}}
                                    - {{groupName}} -
                                {{/if}}
                            {{/if}}
                        </td>
                        <td>
                            {{messageCount}}
                        </td>
                        <td>
                            {{formatDateDiff chatTime}}, {{formatDate chatCreated}}
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="5">
                            {{l10n "tag.pagination.no_items"}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        {{#if pagination}}
            <br/>
            {{generatePagination stylePath pagination}}
        {{/if}}
    {{/override}}
{{/extends}}