{{#extends "_layout"}}
    {{#override "head"}}
        <!-- Start application -->
        <script type="text/javascript"><!--
            jQuery(document).ready(function(){
                Mibew.Application.start({
                    messages: {{{threadMessages}}}
                });
            });
        //--></script>
    {{/override}}

    {{#override "content"}}
        {{l10n "This page displays chat details and content."}}

        <br/><br/>

        <div class="logpane">
            <div class="header">

                    <div class="wlabel">
                        {{l10n "Name"}}:
                    </div>
                    <div class="wvalue">
                        {{threadInfo.userName}}
                    </div>
                    <br clear="all"/>

                    <div class="wlabel">
                        {{l10n "Visitor's address"}}:
                    </div>
                    <div class="wvalue">
                        {{{threadInfo.userAddress}}}
                    </div>
                    <br clear="all"/>

                    <div class="wlabel">
                        {{l10n "Browser"}}:
                    </div>
                    <div class="wvalue">
                        {{threadInfo.userAgentVersion}}
                    </div>
                    <br clear="all"/>

                    {{#if threadInfo.groupName}}
                        <div class="wlabel">
                            {{l10n "Group"}}:
                        </div>
                        <div class="wvalue">
                            {{threadInfo.groupName}}
                        </div>
                        <br clear="all"/>
                    {{/if}}

                    {{#if threadInfo.agentName}}
                        <div class="wlabel">
                            {{l10n "Operator"}}:
                        </div>
                        <div class="wvalue">
                            {{threadInfo.agentName}}
                        </div>
                        <br clear="all"/>
                    {{/if}}

                    <div class="wlabel">
                        {{l10n "Time in chat"}}:
                    </div>
                    <div class="wvalue">
                        {{formatDateDiff threadInfo.chatTime}}
                            ({{formatDate threadInfo.chatStarted}})
                    </div>
                    <br clear="all"/>
            </div>

            <div class="message" id="messages-region"></div>
        </div>

        <br />
        <a href="{{route "history"}}">
            {{l10n "Go to search"}}
        </a>
        <br />
    {{/override}}
{{/extends}}