{{#extends "_layout"}}
    {{#override "content"}}
        {{l10n "This page displays chat details and content."}}

        <br/><br/>

        <div class="log-pane">
            <div class="header">

                    <div class="param-label">
                        {{l10n "Name"}}:
                    </div>
                    <div class="param-value">
                        {{threadInfo.userName}}
                    </div>
                    <br clear="all"/>

                    <div class="param-label">
                        {{l10n "Visitor's address"}}:
                    </div>
                    <div class="param-value">
                        {{{threadInfo.userAddress}}}
                    </div>
                    <br clear="all"/>

                    <div class="param-label">
                        {{l10n "Browser"}}:
                    </div>
                    <div class="param-value">
                        {{threadInfo.userAgentVersion}}
                    </div>
                    <br clear="all"/>

                    {{#if threadInfo.groupName}}
                        <div class="param-label">
                            {{l10n "Group"}}:
                        </div>
                        <div class="param-value">
                            {{threadInfo.groupName}}
                        </div>
                        <br clear="all"/>
                    {{/if}}

                    {{#if threadInfo.agentName}}
                        <div class="param-label">
                            {{l10n "Operator"}}:
                        </div>
                        <div class="param-value">
                            {{threadInfo.agentName}}
                        </div>
                        <br clear="all"/>
                    {{/if}}

                    <div class="param-label">
                        {{l10n "Time in chat"}}:
                    </div>
                    <div class="param-value">
                        {{formatDateDiff threadInfo.chatTime}}
                            ({{formatDate threadInfo.chatStarted}})
                    </div>
                    <br clear="all"/>
            </div>

            <div class="message" id="messages-region"></div>
        </div>
    {{/override}}
{{/extends}}