{{#extends "_layout"}}
    {{#override "content"}}
        {{l10n "page.analysis.userhistory.intro"}}

        <br />
        <br />

        <table class="list">
            <thead>
                <tr class="header">
                    <th>{{l10n "page.analysis.search.head_name"}}</th>
                    <th>{{l10n "page.analysis.search.head_host"}}</th>
                    <th>{{l10n "page.analysis.search.head_operator"}}</th>
                    <th>{{l10n "page.analysis.search.head_time"}}</th>
                </tr>
            </thead>

            <tbody>
                {{#each [pagination.items]}}
                    <tr>
                        <td>
                            <a href="{{../mibewRoot}}/operator/history/thread/{{threadId}}" target="_blank" onclick="this.newWindow = window.open('{{../mibewRoot}}/operator/history/thread/{{threadId}}', '', 'toolbar=0,scrollbars=1,location=0,status=1,menubar=0,width=720,height=520,resizable=1');this.newWindow.focus();this.newWindow.opener=window;return false;">{{userName}}</a>
                        </td>
                        <td>{{{userAddress}}}</td>
                        <td>{{agentName}}</td>
                        <td>{{formatDateDiff chatTime}}, {{formatDate chatCreated}}</td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="5">
                            {{l10n "tag.pagination.no_items"}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        {{#if pagination}}
            <br />
            {{generatePagination stylePath pagination}}
        {{/if}}
    {{/override}}
{{/extends}}