{{#extends "_layout"}}
    {{#override "head"}}
        {{#if localeLinks}}
            <script type="text/javascript" language="javascript" src="{{mibewRoot}}/js/libs/jquery.min.js"></script>
            <script type="text/javascript" language="javascript" src="{{mibewRoot}}/js/compiled/locale.js"></script>
        {{/if}}
    {{/override}}

    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        <br/>
        {{#if needChangePassword}}
            <div id="formmessage">{{l10n "error.no_password"}} {{l10n "error.no_password.visit_profile" profilePage}}</div>
            <br/>
        {{else}}
            {{#if needUpdate}}
                <div id="formmessage">{{l10n "install.updatedb" updateWizard}}</div>
                <br/>
            {{else}}
                {{#if newFeatures}}
                    <div><div id="formmessage">{{l10n "install.newfeatures" featuresPage mibewVersion}}</div></div>
                    <br/>
                {{/if}}
            {{/if}}
        {{/if}}

        <div id="dashboard">
            <div class="dashitem">
                <div class="dashitem-content">
                    <img src="{{stylePath}}/images/dash/visitors.gif" alt=""/>
                    <a href="{{mibewRoot}}/operator/users">
                        {{l10n "topMenu.users"}}
                    </a>
                    {{l10n "page_client.pending_users"}}
                </div>
            </div>

            <div class="dashitem">
                <div class="dashitem-content">
                    <img src="{{stylePath}}/images/dash/history.gif" alt=""/>
                    <a href="{{mibewRoot}}/operator/history">
                        {{l10n "page_analysis.search.title"}}
                    </a>
                    {{l10n "content.history"}}
                </div>
            </div>

            {{#if showstat}}
                <div class="dashitem">
                    <div class="dashitem-content">
                        <img src="{{stylePath}}/images/dash/stat.gif" alt=""/>
                        <a href="{{mibewRoot}}/operator/statistics">
                            {{l10n "statistics.title"}}
                        </a>
                        {{l10n "statistics.description"}}
                    </div>
                </div>
            {{/if}}

            {{#if showban}}
                <div class="dashitem">
                    <div class="dashitem-content">
                        <img src="{{stylePath}}/images/dash/blocked.gif" alt=""/>
                        <a href="{{mibewRoot}}/operator/blocked.php">
                            {{l10n "menu.blocked"}}
                        </a>
                        {{l10n "content.blocked"}}
                    </div>
                </div>
            {{/if}}

            <div class="dashitem">
                <div class="dashitem-content">
                    <img src="{{stylePath}}/images/dash/canned.gif" alt=""/>
                    <a href="{{mibewRoot}}/operator/canned-message">
                        {{l10n "menu.canned"}}
                    </a>
                    {{l10n "canned.descr"}}
                </div>
            </div>

            {{#if showadmin}}
                <div class="dashitem">
                    <div class="dashitem-content">
                        <img src="{{stylePath}}/images/dash/getcode.gif" alt=""/>
                        <a href="{{mibewRoot}}/operator/getcode.php">
                            {{l10n "leftMenu.client_gen_button"}}
                        </a>
                        {{l10n "admin.content.client_gen_button"}}
                    </div>
                </div>

                <div class="dashitem">
                    <div class="dashitem-content">
                        <img src="{{stylePath}}/images/dash/operators.gif" alt=""/>
                        <a href="{{mibewRoot}}/operator/operators.php">
                            {{l10n "leftMenu.client_agents"}}
                        </a>
                        {{l10n "admin.content.client_agents"}}
                    </div>
                </div>

                <div class="dashitem">
                    <div class="dashitem-content">
                        <img src="{{stylePath}}/images/dash/dep.gif" alt=""/>
                        <a href="{{mibewRoot}}/operator/group">
                            {{l10n "menu.groups"}}
                        </a>
                        {{l10n "menu.groups.content"}}
                    </div>
                </div>

                <div class="dashitem">
                    <div class="dashitem-content">
                        <img src="{{stylePath}}/images/dash/settings.gif" alt=""/>
                        <a href="{{mibewRoot}}/operator/settings.php">
                            {{l10n "leftMenu.client_settings"}}
                        </a>
                        {{l10n "admin.content.client_settings"}}
                    </div>
                </div>
            {{/if}}

            {{#if currentopid}}
                <div class="dashitem">
                    <div class="dashitem-content">
                        <img src="{{stylePath}}/images/dash/profile.gif"  alt=""/>
                        <a href="{{mibewRoot}}/operator/operator.php?op={{currentopid}}">
                            {{l10n "menu.profile"}}
                        </a>
                        {{l10n "menu.profile.content"}}
                    </div>
                </div>
            {{/if}}

            {{#if localeLinks}}
                <div class="dashitem">
                    <div class="dashitem-content">
                        <img src="{{stylePath}}/images/dash/locale.gif"  alt=""/>
                        <a href="#" id="changelang">
                            {{l10n "menu.locale"}}
                        </a>
                        {{l10n "menu.locale.content"}}
                    </div>
                </div>
            {{/if}}

            {{#if showadmin}}
                <div class="dashitem">
                    <div class="dashitem-content">
                        <img src="{{stylePath}}/images/dash/updates.gif" alt=""/>
                        <a href="{{mibewRoot}}/operator/updates">
                            {{l10n "menu.updates"}}
                        </a>
                        {{l10n "menu.updates.content"}}
                    </div>
                </div>
            {{/if}}

            <div class="dashitem">
                <div class="dashitem-content">
                    <img src="{{stylePath}}/images/dash/exit.gif" alt=""/>
                    <a href="{{mibewRoot}}/operator/logout.php">
                        {{l10n "topMenu.logoff"}}
                    </a>
                    {{l10n "content.logoff"}}
                </div>
            </div>

        </div>

        {{#if localeLinks}}
            <div id="dashlocalesPopup">
                <a href="#" id="dashlocalesPopupClose"><img src="{{stylePath}}/images/dash/close.gif" alt="X"/></a>
                <h2><img src="{{stylePath}}/images/dash/locale.gif" alt=""/><b>{{l10n "lang.choose"}}</b></h2>
                <ul class="locales">
                    {{#each localeLinks}}
                        <li{{#ifEqual currentLocale @key}} class="active"{{/ifEqual}}><a href="?locale={{@key}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div id="backgroundPopup"></div>
        {{/if}}
    {{/override}}
{{/extends}}