{{#extends "_layout"}}
    {{#override "head"}}
        {{#if localeLinks}}
            <script type="text/javascript" language="javascript" src="{{asset "@CurrentStyle/js/locale.js"}}"></script>
        {{/if}}
    {{/override}}

    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        <br/>
        {{#if needUpdate}}
            <div id="form-message">{{l10n "Please run the <a href=\"{0}\">Update wizard</a> to adjust your database." updateWizard}}</div>
            <br/>
        {{else}}
            {{#if newFeatures}}
                <div><div id="form-message">{{l10n "Congratulations! You now have Mibew Messenger {1} installed. Turn on more features on the <a href=\"{0}\">Optional services</a> page." featuresPage mibewVersion}}</div></div>
                <br/>
            {{/if}}
        {{/if}}

        <div id="dashboard">
            <div class="dashboard-item">
                <div class="dashboard-item-content">
                    <img src="{{asset "@CurrentStyle/images/dash/visitors.gif"}}" alt=""/>
                    <a href="{{route "users"}}">
                        {{l10n "Visitors"}}
                    </a>
                    {{l10n "You can find awaiting visitors."}}
                </div>
            </div>

            <div class="dashboard-item">
                <div class="dashboard-item-content">
                    <img src="{{asset "@CurrentStyle/images/dash/history.gif"}}" alt=""/>
                    <a href="{{route "history"}}">
                        {{l10n "Chat history"}}
                    </a>
                    {{l10n "Search the dialogs history."}}
                </div>
            </div>

            {{#if showstat}}
                <div class="dashboard-item">
                    <div class="dashboard-item-content">
                        <img src="{{asset "@CurrentStyle/images/dash/stat.gif"}}" alt=""/>
                        <a href="{{route "statistics"}}">
                            {{l10n "Statistics"}}
                        </a>
                        {{l10n "From this page you can generate a variety of usage reports."}}
                    </div>
                </div>
            {{/if}}

            {{#if showban}}
                <div class="dashboard-item">
                    <div class="dashboard-item-content">
                        <img src="{{asset "@CurrentStyle/images/dash/blocked.gif"}}" alt=""/>
                        <a href="{{route "bans"}}">
                            {{l10n "Blocked visitors"}}
                        </a>
                        {{l10n "Here you can block malicious visitors."}}
                    </div>
                </div>
            {{/if}}

            <div class="dashboard-item">
                <div class="dashboard-item-content">
                    <img src="{{asset "@CurrentStyle/images/dash/canned.gif"}}" alt=""/>
                    <a href="{{route "canned_messages"}}">
                        {{l10n "Canned Messages"}}
                    </a>
                    {{l10n "Edit messages that you frequently type into the chat."}}
                </div>
            </div>

            {{#if showadmin}}
                <div class="dashboard-item">
                    <div class="dashboard-item-content">
                        <img src="{{asset "@CurrentStyle/images/dash/getcode.gif"}}" alt=""/>
                        <a href="{{route "button_code"}}">
                            {{l10n "Button code"}}
                        </a>
                        {{l10n "Button HTML code generation."}}
                    </div>
                </div>

                <div class="dashboard-item">
                    <div class="dashboard-item-content">
                        <img src="{{asset "@CurrentStyle/images/dash/operators.gif"}}" alt=""/>
                        <a href="{{route "operators"}}">
                            {{l10n "Operators"}}
                        </a>
                        {{l10n "Create or delete company operators. Manage their permissions."}}
                    </div>
                </div>

                <div class="dashboard-item">
                    <div class="dashboard-item-content">
                        <img src="{{asset "@CurrentStyle/images/dash/dep.gif"}}" alt=""/>
                        <a href="{{route "groups"}}">
                            {{l10n "Groups"}}
                        </a>
                        {{l10n "Department or skill based groups."}}
                    </div>
                </div>

                <div class="dashboard-item">
                    <div class="dashboard-item-content">
                        <img src="{{asset "@CurrentStyle/images/dash/settings.gif"}}" alt=""/>
                        <a href="{{route "settings_common"}}">
                            {{l10n "Settings"}}
                        </a>
                        {{l10n "Specify options affecting chat window and common system behavior."}}
                    </div>
                </div>
            {{/if}}

            {{#if currentopid}}
                <div class="dashboard-item">
                    <div class="dashboard-item-content">
                        <img src="{{asset "@CurrentStyle/images/dash/profile.gif"}}"  alt=""/>
                        <a href="{{route "operator_edit" operator_id=currentopid}}">
                            {{l10n "Profile"}}
                        </a>
                        {{l10n "You can change your personal information on this page."}}
                    </div>
                </div>
            {{/if}}

            {{#if localeLinks}}
                <div class="dashboard-item">
                    <div class="dashboard-item-content">
                        <img src="{{asset "@CurrentStyle/images/dash/locale.gif"}}"  alt=""/>
                        <a href="#" id="change-language">
                            {{l10n "Language"}}
                        </a>
                        {{l10n "Change locale."}}
                    </div>
                </div>
            {{/if}}

            {{#if showadmin}}
                <div class="dashboard-item">
                    <div class="dashboard-item-content">
                        <img src="{{asset "@CurrentStyle/images/dash/updates.gif"}}" alt=""/>
                        <a href="{{route "updates"}}">
                            {{l10n "Updates"}}
                        </a>
                        {{l10n "Check for news and updates."}}
                    </div>
                </div>
            {{/if}}

            <div class="dashboard-item">
                <div class="dashboard-item-content">
                    <img src="{{asset "@CurrentStyle/images/dash/exit.gif"}}" alt=""/>
                    <a href="{{route "logout"}}">
                        {{l10n "Exit"}}
                    </a>
                    {{l10n "Log out of the system."}}
                </div>
            </div>

        </div>

        {{#if localeLinks}}
            <div id="dashboard-locales-popup">
                <a href="#" id="dashboard-locales-popup-close"><img src="{{asset "@CurrentStyle/images/dash/close.gif"}}" alt="X"/></a>
                <h2><img src="{{asset "@CurrentStyle/images/dash/locale.gif"}}" alt=""/><b>{{l10n "Choose your language"}}</b></h2>
                <ul class="locales">
                    {{#each localeLinks}}
                        <li{{#ifEqual currentLocale @key}} class="active"{{/ifEqual}}><a href="?locale={{@key}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div id="background-popup"></div>
        {{/if}}
    {{/override}}
{{/extends}}