{{#extends "install_step"}}

    {{#override "head"}}
        <!-- External libs -->
        <script type="text/javascript" src="{{asset "js/libs/jquery.min.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/libs/json2.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/libs/underscore-min.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/libs/backbone-min.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/libs/backbone.marionette.min.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/libs/handlebars.js"}}"></script>

        <!-- Client side templates -->
        <script type="text/javascript" src="{{asset "@CurrentStyle/templates_compiled/client_side/default_app.tpl.js"}}"></script>

        <!-- Default application files -->
        <script type="text/javascript" src="{{asset "js/compiled/mibewapi.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/compiled/default_app.js"}}"></script>

        <script type="text/javascript" language="javascript" src="{{asset "js/compiled/soundcheck.js"}}"></script>
    {{/override}}

    {{#override "nextStep"}}
        <br />
        <b>{{l10n "Application installed successfully."}}</b> {{{loginLink}}}
        <br />
        <br />


        {{l10n "Click to check the sound"}}:
        <ul>
            <li><a id="check-nv" href="javascript:void(0)">{{l10n "New Visitor"}}</a></li>
            <li><a id="check-nm" href="javascript:void(0)">{{l10n "New Message"}}</a></li>
        </ul>
        <br />
        <span class="warning">{{l10n "For security reasons you should remove install.php file from your server."}}</span>

    {{/override}}
{{/extends}}