{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "head"}}
        <link href="{{mibewRoot}}/styles/invitations/{{preview}}/invite.css" rel="stylesheet" type="text/css" />
    {{/override}}

    {{#override "content"}}
        {{l10n "page.preview.intro"}}

        <br />
        <br />

        <form name="preview" method="get" action="{{mibewRoot}}/operator/invitationthemes.php">
            <div>
                {{> _tabs}}

                <div class="mform">
                    <div class="formtop">
                        <div class="formtopi"></div>
                    </div>

                    <div class="forminner">
                        <div class="fieldForm">
                            <div class="field">
                                <label for="preview" class="flabel">{{l10n "page.preview.choose"}}</label>
                                <div class="fvaluenodesc">
                                    <select id="preview" name="preview" onchange="this.form.submit();">
                                        {{#each availablePreviews}}
                                            <option value="{{this}}"{{#ifEqual this ../formpreview}} selected="selected"{{/ifEqual}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="formbottom">
                        <div class="formbottomi"></div>
                    </div>
                </div>
            </div>
        </form>

        <div id="mibewinvitation">
            <div id="mibewinvitationpopup">
                <div id="mibewinvitationclose">
                    <a onclick="void(0);" href="javascript:void(0);">&times;</a>
                </div>
                <h1 onclick="void(0);">{{operatorName}}</h1>
                <div id="mibewinvitationframe">{{l10n "invitation.message"}}</div>
                <div id="mibewinvitationaccept" onclick="void(0);">{{l10n "invitation.accept.caption"}}</div>
                <div style="clear: both;"></div>
            </div>
        </div>
    {{/override}}
{{/extends}}