{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "On this page you can edit mail templates which are used in the system."}}

        <br />
        <br />

        {{> _errors}}

        <form name="mail_template" method="post" action="{{formaction}}">
            {{csrfTokenInput}}
            <input type="hidden" name="lang" value="{{formlang}}" />

            <div>
                <div class="mform">
                    <div class="formtop">
                        <div class="formtopi"></div>
                    </div>

                    <div class="forminner">
                        <div class="fieldForm">
                            <div class="field">
                                <label for="subject" class="flabel">{{l10n "Mail subject"}}<span class="required">*</span></label>
                                <div class="fvalue">
                                    <input id="subject" type="text" name="subject" size="40" value="{{formsubject}}" class="formauth" />
                                </div>
                                <br clear="all"/>
                            </div>

                            <div class="field">
                                <label for="body" class="flabel">{{l10n "Mail body"}}<span class="required">*</span></label>
                                <div class="fvaluenodesc">
                                    <textarea id="body" name="body" cols="20" rows="5" class="wide">{{formbody}}</textarea>
                                </div>
                                <br clear="all"/>
                            </div>

                            <div class="fbutton">
                                <input type="submit" name="save" class="submit-bg-button save-button" value="{{l10n "Save"}}"/>
                            </div>

                        </div>
                    </div>

                    <div class="formbottom">
                        <div class="formbottomi"></div>
                    </div>

                </div>
            </div>

            <div class="asterisk">
                <span class="required">*</span> - {{l10n "mandatory fields"}}
            </div>

        </form>
    {{/override}}
{{/extends}}