{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "mail_template.intro"}}

        <br />
        <br />

        {{#if stored}}
            <div id="formmessage">{{l10n "mail_template.saved"}}</div>
        {{/if}}

        {{> _errors}}

        <form name="mail_templates" method="get" action="{{formaction}}">
            <div>
                {{> _tabs}}

                <div class="mform">
                    <div class="formtop">
                        <div class="formtopi"></div>
                    </div>

                    <div class="forminner">

                        <div class="packedFormField">
                            {{l10n "mail_template.locale"}}<br/>
                            <select name="lang" onchange="this.form.submit();">
                                {{#each locales}}
                                    <option value="{{id}}"{{#ifEqual id ../formlang}} selected="selected"{{/ifEqual}}>{{name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <br clear="all"/>

                    </div>

                    <div class="formbottom">
                        <div class="formbottomi"></div>
                    </div>

                </div>
            </div>
        </form>

        <table class="translate">
            <thead>
                <tr class="header">
                    <th>{{l10n "mail_template.name"}}</th>
                    <th>{{l10n "mail_template.subject"}}</th>
                    <th>{{l10n "mail_template.body"}}</th>
                    <th>{{l10n "mail_template.actions"}}</th>
                </tr>
            </thead>

            <tbody>
                {{#each mailTemplates}}
                    <tr>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            {{subject}}
                        </td>
                        <td>
                            {{body}}
                        </td>
                        <td>
                            <a href="{{../mibewRoot}}/operator/mail-template/{{name}}/edit?lang={{../formlang}}">{{l10n "mail_template.actions.edit"}}</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/override}}
{{/extends}}