{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{#if opid}}
            {{l10n "Edit general operator settings."}}
        {{else}}
            {{l10n "You can create a new operator here."}}
        {{/if}}

        <br />
        <br />

        {{> _errors}}

        {{#if stored}}
            <div id="formmessage">{{l10n "Changes saved"}}</div>
        {{/if}}

        {{#ifAny opid canmodify}}
            <form name="agentForm" method="post" action="{{formaction}}">
                {{csrfTokenInput}}

                <div>
                    {{#unless needChangePassword}}{{> _tabs}}{{/unless}}

                    <div class="mform">
                        <div class="formtop">
                            <div class="formtopi"></div>
                        </div>

                        <div class="forminner">

                            <div class="fieldForm">
                                <div class="field">
                                    <label for="login" class="flabel">{{l10n "Login"}}<span class="required">*</span></label>
                                    <div class="fvalue">
                                        <input id="login" type="text" name="login" size="40" value="{{formlogin}}" class="formauth"{{#unless canchangelogin}} disabled="disabled"{{/unless}}/>
                                    </div>
                                    <label for="login" class="fdescr"> &mdash; {{l10n "Login can consist of small Latin letters and underscore."}}</label>
                                    <br clear="all"/>
                                </div>

                                <div class="field">
                                    <label for="email" class="flabel">{{l10n "E-mail"}}<span class="required">*</span></label>
                                    <div class="fvalue">
                                        <input id="email" type="text" name="email" size="40" value="{{formemail}}" class="formauth"{{#unless canmodify}} disabled="disabled"{{/unless}}/>
                                    </div>
                                    <label for="email" class="fdescr"> &mdash; {{l10n "For notifications and password retrieval."}}</label>
                                    <br clear="all"/>
                                </div>

                                <div class="field">
                                    <label for="password" class="flabel">
                                        {{l10n "Password"}}{{#if requirePassword}}<span class="required">*</span>{{/if}}
                                    </label>
                                    <div class="fvalue">
                                        <input id="password" type="password" name="password" size="40" value="" class="formauth"{{#unless canmodify}} disabled="disabled"{{/unless}} autocomplete="off"/>
                                    </div>
                                    <label for="password" class="fdescr"> &mdash; {{l10n "Enter a new password or leave the field empty to keep the previous one."}}</label>
                                    <br clear="all"/>
                                </div>

                                <div class="field">
                                    <label for="passwordConfirm" class="flabel">
                                        {{l10n "Confirmation"}}{{#if requirePassword}}<span class="required">*</span>{{/if}}
                                    </label>
                                    <div class="fvalue">
                                        <input id="passwordConfirm" type="password" name="passwordConfirm" size="40" value="" class="formauth"{{#unless canmodify}} disabled="disabled"{{/unless}} autocomplete="off"/>
                                    </div>
                                    <label for="passwordConfirm" class="fdescr"> &mdash; {{l10n "Confirm new password."}}</label>
                                    <br clear="all"/>
                                </div>

                                <div class="field">
                                    <label for="name" class="flabel">{{l10n "Name"}}<span class="required">*</span></label>
                                    <div class="fvalue">
                                        <input id="name" type="text" name="name" size="40" value="{{formname}}" class="formauth"{{#unless canmodify}} disabled="disabled"{{/unless}}/>
                                    </div>
                                    <label for="name" class="fdescr"> &mdash; {{l10n "This name will be seen by your visitors."}}</label>
                                    <br clear="all"/>
                                </div>

                                <div class="field">
                                    <label for="commonname" class="flabel">{{l10n "International name (Latin)"}}<span class="required">*</span></label>
                                    <div class="fvalue">
                                        <input id="commonname" type="text" name="commonname" size="40" value="{{formcommonname}}" class="formauth"{{#unless canmodify}} disabled="disabled"{{/unless}}/>
                                    </div>
                                    <label for="commonname" class="fdescr"> &mdash; {{l10n "This name will be seen by your visitors."}}</label>
                                    <br clear="all"/>
                                </div>

                                <div class="field">
                                    <label for="code" class="flabel">{{l10n "Code"}}</label>
                                    <div class="fvalue">
                                        <input id="code" type="text" name="code" size="40" value="{{formcode}}" class="formauth"{{#unless canmodify}} disabled="disabled"{{/unless}}/>
                                    </div>
                                    <label for="code" class="fdescr"> &mdash; {{l10n "Use to start chat with determined operator"}}</label>
                                    <br clear="all"/>
                                </div>

                                {{#if canmodify}}
                                    <div class="fbutton">
                                        <input type="submit" name="save" class="submit-bg-button save-button" value="{{l10n "Save"}}"/>
                                    </div>
                                {{/if}}
                            </div>
                        </div>

                        <div class="formbottom">
                            <div class="formbottomi"></div>
                        </div>
                    </div>
                </div>

                <div class="asterisk">
                    <span class="required">*</span> - {{l10n "mandatory fields"}}
                </div>

            </form>
        {{/ifAny}}
    {{/override}}
{{/extends}}