{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "Choose groups according to operator skills."}}

        <br />
        <br />

        {{> _errors}}

        {{#if stored}}
            <div id="formmessage">{{l10n "Changes saved"}}</div>
        {{/if}}

        <form name="opgroupsForm" method="post" action="{{route "operator_groups_save" operator_id=opid}}">
            {{csrfTokenInput}}

            <div>
                {{> _tabs}}
                <div class="mform">
                    <div class="formtop">
                        <div class="formtopi"></div>
                    </div>

                    <div class="forminner">
                        <p><b>{{currentop}}&lrm;</b></p>

                        {{#each groups}}
                            <div class="field level{{level}}">
                                <label for="group{{groupid}}" class="flabel">{{vclocalname}}</label>
                                <div class="fvalue">
                                    <input id="group{{groupid}}" type="checkbox" name="group{{groupid}}" value="on"{{#if checked}} checked="checked"{{/if}}{{#unless ../canmodify}} disabled="disabled"{{/unless}}/>
                                </div>
                                <label for="group{{groupid}}" class="fdescr">
                                    &mdash; {{#if vclocaldescription}}{{vclocaldescription}}{{else}}{{l10n "&lt;no description&gt;"}}{{/if}}
                                </label>
                                <br clear="all"/>
                            </div>
                        {{/each}}

                        {{#if canmodify}}
                            <div class="fbutton">
                                <input type="submit" name="save" class="submit-bg-button save-button" value="{{l10n "Save"}}"/>
                            </div>
                        {{/if}}
                    </div>

                    <div class="formbottom">
                        <div class="formbottomi"></div>
                    </div>

                </div>
            </div>
        </form>
    {{/override}}
{{/extends}}