{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "head"}}
        <script type="text/javascript" language="javascript" src="{{mibewRoot}}/js/libs/jquery.min.js"></script>
        <script type="text/javascript" language="javascript"><!--
            (function($) {
                $(document).ready(function(){
                    var confirmMessage = "{{#jsString}}{{l10n 'Are you sure that you want to delete operator "{0}"?' '{login}'}}{{/jsString}}";

                    $('a.removelink').click(function(){
                        var login = $.trim($("#t" + this.id).text());
                        return confirm(confirmMessage.replace("{login}", login));
                    });
                });
            })(jQuery);
        //--></script>
    {{/override}}

    {{#override "content"}}
        {{l10n "This page displays a list of company operators."}}

        <br />
        <br />

        {{> _errors}}

        <form name="agentsForm" method="get" action="{{mibewRoot}}/operator/operator">
            <div class="mform">
                <div class="formtop">
                    <div class="formtopi"></div>
                </div>

                <div class="forminner">
                    <div class="packedFormField">
                        {{l10n "Sort by:"}}<br/>
                        <select name="sortby" onchange="this.form.submit();">
                            {{#each availableOrders}}
                                <option value="{{id}}"{{#ifEqual id ../formsortby}} selected="selected"{{/ifEqual}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="packedFormField">
                        {{l10n "Sort direction:"}}<br/>
                        <select name="sortdirection" onchange="this.form.submit();">
                            {{#each availableDirections}}
                                <option value="{{id}}"{{#ifEqual id ../formsortdirection}} selected="selected"{{/ifEqual}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <br clear="all"/>
                </div>

                <div class="formbottom">
                    <div class="formbottomi"></div>
                </div>
            </div>
        </form>
        <br />

        {{#if canmodify}}
            <div class="tabletool">
                <img src="{{stylePath}}/images/buttons/createagent.gif" border="0" alt="" />
                <a href="{{mibewRoot}}/operator/operator/add" title="{{l10n "Add operator..."}}">
                    {{l10n "Add operator..."}}
                </a>
            </div>
            <br clear="all"/>
        {{/if}}

        <table class="list">
            <thead>
                <tr class="header">
                    <th>{{l10n "Login"}}</th>
                    <th>{{l10n "Name"}}</th>
                    <th>{{l10n "Last active"}}</th>
                    {{#if canmodify}}
                        <th></th>
                        <th></th>
                    {{/if}}
                </tr>
            </thead>

            <tbody>
                {{#each allowedAgents}}
                    <tr>
                        <td class="notlast">
                            <a id="ti{{operatorid}}" href="{{../mibewRoot}}/operator/operator/{{operatorid}}/edit" class="man">
                                {{vclogin}}
                            </a>
                        </td>

                        <td class="notlast">
                            {{vclocalename}} / {{vccommonname}}
                        </td>

                        <td class="notlast">
                            {{#ifAny isAvailable isAway}}
                                {{#if isAvailable}}
                                    {{l10n "Online"}}
                                {{else}}
                                    {{l10n "Away"}}
                                {{/if}}
                            {{else}}
                                {{formatDate lastTimeOnline}}
                            {{/ifAny}}
                        </td>

                        {{#if ../canmodify}}
                            <td>
                                {{#if isDisabled}}
                                    <a href="{{../mibewRoot}}/operator/operator/{{operatorid}}/enable?{{csrfTokenInUrl}}">{{l10n "enable"}}</a>
                                {{else}}
                                    <a href="{{../mibewRoot}}/operator/operator/{{operatorid}}/disable?{{csrfTokenInUrl}}">{{l10n "disable"}}</a>
                                {{/if}}
                            </td>

                            <td>
                                <a class="removelink" id="i{{operatorid}}" href="{{../mibewRoot}}/operator/operator/{{operatorid}}/delete?{{csrfTokenInUrl}}">
                                    {{l10n "remove"}}
                                </a>
                            </td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/override}}
{{/extends}}