{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "You can upload your photo only as JPG, GIF, PNG or TIF image files."}}

        <br />
        <br />

        {{> _errors}}

        <form name="avatarForm" method="post" action="{{route "operator_avatar_save" operator_id=opid}}" enctype="multipart/form-data">
            {{csrfTokenInput}}

            <div>
                {{> _tabs}}
                <div class="mform">
                    <div class="formtop">
                        <div class="formtopi"></div>
                    </div>

                    <div class="forminner">
                        <p><b>{{currentop}}&lrm;</b></p>

                        <div class="fieldForm">

                            {{#if avatar}}
                                <div class="field">
                                    <div class="flabel">{{l10n "Current avatar image"}}</div>
                                    <div class="fvalue">
                                        <img src="{{avatar}}" alt="cannot load avatar"/><br/>
                                        {{#if canmodify}}
                                            <a class="formauth" href="{{csrfProtectedRoute "operator_avatar_delete" operator_id=opid}}">
                                                {{l10n "Remove avatar"}}
                                            </a>
                                        {{/if}}
                                    </div>
                                    <div class="fdescr"> &mdash; {{l10n "Your avatar image."}}</div>
                                    <br clear="all"/>
                                </div>
                            {{else}}
                                {{#unless canmodify}}
                                    <div class="field">
                                        <div class="fvaluenodesc">
                                            No avatar
                                        </div>
                                    </div>
                                {{/unless}}
                            {{/if}}

                            {{#if canmodify}}
                                <div class="field">
                                    <label for="avatarFile" class="flabel">
                                        {{l10n "Upload avatar"}}<span class="required">*</span>
                                    </label>
                                    <div class="fvalue">
                                        <input id="avatarFile" type="file" name="avatarFile" size="40" value="{{formavatarFile}}" class="formauth"/>
                                    </div>
                                    <label for="avatarFile" class="fdescr"> &mdash; {{l10n "Choose the avatar file to upload.<br/>The picture size should not exceed 100x100 px."}}</label>
                                    <br clear="all"/>
                                </div>

                                <div class="fbutton">
                                    <input type="submit" name="save" class="submit-bg-button save-button" value="{{l10n "Save"}}"/>
                                </div>
                            {{/if}}
                        </div>

                    </div>

                    <div class="formbottom">
                        <div class="formbottomi"></div>
                    </div>

                </div>
            </div>

            <div class="asterisk">
                <span class="required">*</span> - {{l10n "mandatory fields"}}
            </div>
        </form>
    {{/override}}
{{/extends}}