{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "operator.groups.intro"}}

        <br />
        <br />

        {{> _errors}}

        {{#if stored}}
            <div id="formmessage">{{l10n "data.saved"}}</div>
        {{/if}}

        <form name="opgroupsForm" method="post" action="{{mibewRoot}}/operator/opgroups.php">
            {{csrfTokenInput}}
            <input type="hidden" name="op" value="{{opid}}"/>

            <div>
                {{> _tabs}}
                <div class="mform">
                    <div class="formtop">
                        <div class="formtopi"></div>
                    </div>

                    <div class="forminner">
                        <p><b>{{currentop}}&lrm;</b></p>

                        {{#each groups}}
                            <div class="field level{{level}}">
                                <label for="group{{groupid}}" class="flabel">{{vclocalname}}</label>
                                <div class="fvalue">
                                    <input id="group{{groupid}}" type="checkbox" name="group{{groupid}}" value="on"{{#if checked}} checked="checked"{{/if}}{{#unless ../canmodify}} disabled="disabled"{{/unless}}/>
                                </div>
                                <label for="group{{groupid}}" class="fdescr">
                                    &mdash; {{#if vclocaldescription}}{{vclocaldescription}}{{else}}{{l10n "operator.group.no_description"}}{{/if}}
                                </label>
                                <br clear="all"/>
                            </div>
                        {{/each}}

                        {{#if canmodify}}
                            <div class="fbutton">
                                <input type="image" name="save" value="" src="{{mibewRoot}}{{l10n "image.button.save"}}" alt="{{l10n "button.save"}}"/>
                            </div>
                        {{/if}}
                    </div>

                    <div class="formbottom">
                        <div class="formbottomi"></div>
                    </div>

                </div>
            </div>
        </form>
    {{/override}}
{{/extends}}