{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "page_settings.intro"}}

        <br />
        <br />

        {{> _errors}}

        {{#if stored}}
            <div id="formmessage">{{l10n "settings.saved"}}</div>
        {{/if}}

        <form name="performance" method="post" action="{{mibewRoot}}/operator/performance.php">
            {{csrfTokenInput}}

            <div>
                {{> _tabs}}

                <div class="mform">
                    <div class="formtop">
                        <div class="formtopi"></div>
                    </div>

                    <div class="forminner">
                        <div class="fieldForm">
                            <div class="field">
                                <label for="onlinetimeout" class="flabel">{{l10n "settings.onlinetimeout"}}</label>
                                <div class="fvalue">
                                    <input id="onlinetimeout" type="text" name="onlinetimeout" size="40" value="{{formonlinetimeout}}" class="formauth"/>
                                </div>
                                <label for="onlinetimeout" class="fdescr"> &mdash; {{l10n "settings.onlinetimeout.description"}}</label>
                                <br clear="all"/>
                            </div>

                            <div class="field">
                                <label for="frequencyoperator" class="flabel">{{l10n "settings.frequencyoperator"}}</label>
                                <div class="fvalue">
                                    <input id="frequencyoperator" type="text" name="frequencyoperator" size="40" value="{{formfrequencyoperator}}" class="formauth"/>
                                </div>
                                <label for="frequencyoperator" class="fdescr"> &mdash; {{l10n "settings.frequencyoperator.description"}}</label>
                                <br clear="all"/>
                            </div>

                            <div class="field">
                                <label for="frequencychat" class="flabel">{{l10n "settings.frequencychat"}}</label>
                                <div class="fvalue">
                                    <input id="frequencychat" type="text" name="frequencychat" size="40" value="{{formfrequencychat}}" class="formauth"/>
                                </div>
                                <label for="frequencychat" class="fdescr"> &mdash; {{l10n "settings.frequencychat.description"}}</label>
                                <br clear="all"/>
                            </div>

                            <div class="field">
                                <label for="onehostconnections" class="flabel">{{l10n "settings.onehostconnections"}}</label>
                                <div class="fvalue">
                                    <input id="onehostconnections" type="text" name="onehostconnections" size="40" value="{{formonehostconnections}}" class="formauth"/>
                                </div>
                                <label for="onehostconnections" class="fdescr"> &mdash; {{l10n "settings.onehostconnections.description"}}</label>
                                <br clear="all"/>
                            </div>

                            <div class="field">
                                <label for="threadlifetime" class="flabel">{{l10n "settings.threadlifetime"}}</label>
                                <div class="fvalue">
                                    <input id="threadlifetime" type="text" name="threadlifetime" size="40" value="{{formthreadlifetime}}" class="formauth"/>
                                </div>
                                <label for="threadlifetime" class="fdescr"> &mdash; {{l10n "settings.threadlifetime.description"}}</label>
                                <br clear="all"/>
                            </div>

                            <div class="field">
                                <label for="statistics_aggregation_interval" class="flabel">{{l10n "settings.statistics_aggregation_interval"}}</label>
                                <div class="fvalue">
                                    <input id="statistics_aggregation_interval" type="text" name="statistics_aggregation_interval" size="40" value="{{formstatistics_aggregation_interval}}" class="formauth"/>
                                </div>
                                <label for="statistics_aggregation_interval" class="fdescr"> &mdash; {{l10n "settings.statistics_aggregation_interval.description"}}</label>
                                <br clear="all"/>
                            </div>

                            {{#if enabletracking}}
                                <div class="field">
                                    <label for="frequencytracking" class="flabel">{{l10n "settings.frequencytracking"}}</label>
                                    <div class="fvalue">
                                        <input id="frequencytracking" type="text" name="frequencytracking" size="40" value="{{formfrequencytracking}}" class="formauth"/>
                                    </div>
                                    <label for="frequencytracking" class="fdescr"> &mdash; {{l10n "settings.frequencytracking.description"}}</label>
                                    <br clear="all"/>
                                </div>

                                <div class="field">
                                    <label for="visitorslimit" class="flabel">{{l10n "settings.visitorslimit"}}</label>
                                    <div class="fvalue">
                                        <input id="visitorslimit" type="text" name="visitorslimit" size="40" value="{{formvisitorslimit}}" class="formauth"/>
                                    </div>
                                    <label for="visitorslimit" class="fdescr"> &mdash; {{l10n "settings.visitorslimit.description"}}</label>
                                    <br clear="all"/>
                                </div>

                                <div class="field">
                                    <label for="invitationlifetime" class="flabel">{{l10n "settings.invitationlifetime"}}</label>
                                    <div class="fvalue">
                                        <input id="invitationlifetime" type="text" name="invitationlifetime" size="40" value="{{forminvitationlifetime}}" class="formauth"/>
                                    </div>
                                    <label for="invitationlifetime" class="fdescr"> &mdash; {{l10n "settings.invitationlifetime.description"}}</label>
                                    <br clear="all"/>
                                </div>

                                <div class="field">
                                    <label for="trackinglifetime" class="flabel">{{l10n "settings.trackinglifetime"}}</label>
                                    <div class="fvalue">
                                        <input id="trackinglifetime" type="text" name="trackinglifetime" size="40" value="{{formtrackinglifetime}}" class="formauth"/>
                                    </div>
                                    <label for="trackinglifetime" class="fdescr"> &mdash; {{l10n "settings.trackinglifetime.description"}}</label>
                                    <br clear="all"/>
                                </div>
                            {{/if}}

                            <div class="field">
                                <label for="maxuploadedfilesize" class="flabel">{{l10n "settings.maxuploadedfilesize"}}</label>
                                <div class="fvalue">
                                    <input id="maxuploadedfilesize" type="text" name="maxuploadedfilesize" size="40" value="{{formmaxuploadedfilesize}}" class="formauth"/>
                                </div>
                                <label for="maxuploadedfilesize" class="fdescr"> &mdash; {{l10n "settings.maxuploadedfilesize.description"}}</label>
                                <br clear="all"/>
                            </div>

                            <div class="fbutton">
                                <input type="image" name="save" value="" src="{{mibewRoot}}{{l10n "image.button.save"}}" alt="{{l10n "button.save"}}"/>
                            </div>

                        </div>
                    </div>

                    <div class="formbottom">
                        <div class="formbottomi"></div>
                    </div>
                </div>
            </div>

            <div class="asterisk">
                {{l10n "common.asterisk_explanation"}}
            </div>

        </form>
    {{/override}}
{{/extends}}