{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "You can view the list of themes you currently have installed here."}}

        <br />
        <br />

        <form name="preview" method="get" action="{{formaction}}">
            <div>
                {{> _tabs}}

                <div class="form-wrapper">
                    <div class="form-header">
                        <div class="form-header-inwards"></div>
                    </div>

                    <div class="form-inwards">
                        <div class="form-fields">
                            <div class="field">
                                <label for="preview" class="field-label">{{l10n "Choose style"}}</label>
                                <div class="field-value-no-description">
                                    <select id="preview" name="preview" onchange="this.form.submit();">
                                        {{#each availablePreviews}}
                                            <option value="{{this}}"{{#ifEqual this ../formpreview}} selected="selected"{{/ifEqual}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            {{#each screenshotsList}}
                                <div class="field">
                                    <div class="field-label">{{description}}</div>
                                    <div class="field-iframe-value">
                                        <img class="screenshot" alt="{{name}}" src="{{file}}" />
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="form-footer">
                        <div class="form-footer-inwards"></div>
                    </div>
                </div>
            </div>
        </form>
    {{/override}}
{{/extends}}