{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "page.translate.descr"}}

        <br />
        <br />

        <form name="translateForm" method="get" action="{{mibewRoot}}/operator/translate.php">

            <div class="mform">
                <div class="formtop">
                    <div class="formtopi"></div>
                </div>

                <div class="forminner">
                    <div class="packedFormField">
                        {{l10n "translate.direction"}}<br/>
                        <select name="source" onchange="this.form.submit();">
                            {{#each availableLocales}}
                                <option value="{{id}}" {{#ifEqual id ../formsource}} selected="selected"{{/ifEqual}}>{{name}}</option>
                            {{/each}}
                        </select>
                        =&gt;
                        <select name="target" onchange="this.form.submit();">
                            {{#each availableLocales}}
                                <option value="{{id}}"{{#ifEqual id ../formtarget}} selected="selected"{{/ifEqual}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="packedFormField">
                        {{l10n "translate.sort"}}<br/>
                        <select name="sort" onchange="this.form.submit();">
                            {{#each availableOrders}}
                                <option value="{{id}}"{{#ifEqual id ../formsort}} selected="selected"{{/ifEqual}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="packedFormField">
                        {{l10n "translate.show"}}<br/>
                        <select name="show" onchange="this.form.submit();">
                            {{#each showOptions}}
                                <option value="{{id}}"{{#ifEqual id ../formshow}} selected="selected"{{/ifEqual}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <br clear="all"/>

                </div>

                <div class="formbottom">
                    <div class="formbottomi"></div>
                </div>
            </div>
        </form>
        <br/>


        {{#if pagination}}
            {{generatePagination stylePath pagination "false"}}
        {{/if}}

        <table class="translate">
            <thead>
                <tr class="header"><th>
                    Key
                </th><th>
                    {{title1}}
                </th><th>
                    {{title2}}
                </th></tr>
            </thead>
            <tbody>

            {{#each [pagination.items]}}
                <tr>
                    <td>
                        <a href="{{../mibewRoot}}/operator/translate.php?source={{../lang1}}&amp;target={{../lang2}}&amp;key={{id}}" target="_blank" onclick="this.newWindow = window.open('{{../mibewRoot}}/operator/translate.php?source={{../lang1}}&amp;target={{../lang2}}&amp;key={{id}}', '', 'toolbar=0,scrollbars=1,location=0,status=1,menubar=0,width=640,height=480,resizable=1');this.newWindow.focus();this.newWindow.opener=window;return false;">{{idToPage}}</a>
                    </td>
                    <td>
                        {{{l1ToPage}}}
                    </td>
                    <td>
                        {{{l2ToPage}}}
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan="3">{{l10n "tag.pagination.no_items"}}</td>
                </tr>
            {{/each}}

            </tbody>
        </table>

        {{#if pagination}}
            <br />
            {{generatePagination stylePath pagination}}
        {{/if}}
    {{/override}}
{{/extends}}