{{#extends "_layout"}}
    {{#override "content"}}
        {{#if saved}}
            {{l10n "Your translation is saved."}}

            <script type="text/javascript" src="{{asset "@CurrentStyle/js/autoclose.js"}}"></script>
        {{else}}
            {{l10n "Enter your translation."}}

            <br/>
            <br/>

            {{> _errors}}

            <form name="translateForm" method="post" action="{{route "translation_edit_save" string_id=key}}">
                {{csrfTokenInput}}

                <div class="mform">
                    <div class="formtop">
                        <div class="formtopi"></div>
                    </div>

                    <div class="forminner">
                        <div class="fieldForm">
                            <div class="field">
                                <label for="original" class="flabel">{{l10n "Source string"}}</label>
                                <div class="fvaluenodesc">
                                    <textarea id="original" name="original" disabled="disabled" cols="20" rows="5" class="wide">{{formoriginal}}</textarea>
                                </div>
                            </div>

                            <div class="field">
                                <label for="translation" class="flabel">{{localeName}}</label>
                                <div class="fvaluenodesc">
                                    <textarea id="translation" name="translation" cols="20" rows="5" class="wide">{{formtranslation}}</textarea>
                                </div>
                            </div>

                            <div class="fbutton">
                                <input type="submit" name="save" class="submit-bg-button save-button" value="{{l10n "Save"}}"/>
                            </div>
                        </div>
                    </div>

                    <div class="formbottom">
                        <div class="formbottomi"></div>
                    </div>
                </div>
            </form>
        {{/if}}
    {{/override}}
{{/extends}}