{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "content"}}
        {{l10n "Messenger updates."}}

        <br />
        <br />

        <div>
            <div class="form-wrapper">
                <div class="form-header">
                    <div class="form-header-inwards"></div>
                </div>

                <div class="form-inwards">
                    {{l10n "News:"}}<br/>
                    <div id="news"></div>

                    {{l10n "You are using:"}}<br/>
                    <div id="current-version">{{version}}</div>

                    <br/>

                    {{l10n "Latest version:"}}
                    <div id="latest-version"></div>

                    <br/>

                    {{l10n "Installed localizations:"}}<br/>
                    {{#each localizations}}
                        {{this}}
                    {{/each}}

                    <br/><br/>

                    {{l10n "Environment:"}}<br/>
                    PHP {{phpVersion}}

                </div>

                <div class="form-footer">
                    <div class="form-footer-inwards"></div>
                </div>
            </div>
        </div>
    {{/override}}
{{/extends}}