{{#extends "_layout"}}
    {{#override "menu"}}{{> _menu}}{{/override}}

    {{#override "head"}}
        <script type="text/javascript" language="javascript" src="{{asset "js/libs/jquery.min.js"}}"></script>
        <script type="text/javascript" language="javascript" src="http://mibew.org/latestMibew.js"></script>
        <script type="text/javascript" language="javascript" src="{{asset "js/compiled/update.js"}}"></script>
    {{/override}}

    {{#override "content"}}
        {{l10n "Messenger updates."}}

        <br />
        <br />

        <div>
            <div class="mform">
                <div class="formtop">
                    <div class="formtopi"></div>
                </div>

                <div class="forminner">
                    {{l10n "News:"}}<br/>
                    <div id="news"></div>

                    {{l10n "You are using:"}}<br/>
                    <div id="cver">{{version}}</div>

                    <br/>

                    {{l10n "Latest version:"}}
                    <div id="lver"></div>

                    <br/>

                    {{l10n "Installed localizations:"}}<br/>
                    {{#each localizations}}
                        {{this}}
                    {{/each}}

                    <br/><br/>

                    {{l10n "Environment:"}}<br/>
                    PHP {{phpVersion}}

                </div>

                <div class="formbottom">
                    <div class="formbottomi"></div>
                </div>
            </div>
        </div>
    {{/override}}
{{/extends}}