{{#extends "_layout"}}
    {{#override "content"}}
        {{l10n "Follow the wizard to update your database."}}

        <br/>
        <br/>
        <div id="install">
            <div class="mform">
                <div class="formtop">
                    <div class="formtopi"></div>
                </div>

                <div class="forminner">
                    <ol>
                        <li>{{l10n "Backup the database"}}</li>
                        <li>{{l10n "Backup the code"}}</li>
                        <li>{{l10n "Replace all files with ones from the new version"}}</li>
                        <li>{{l10n "Update configs file if needed"}}</li>
                        <li>{{l10n "Run the <a href=\"{0}\">update wizard</a>" (route "update_run")}}</li>
                    </ol>
                </div>

                <div class="formbottom">
                    <div class="formbottomi"></div>
                </div>
            </div>
        </div>
    {{/override}}
{{/extends}}