{{! Chat window top. Includes logo and some info about company}}
<div id="top">
    <div id="logo">
        {{#if page.company.chatLogoURL}}
            {{! Use 'unless' instead of 'if' because of the bug with nested 'if else' in handlebars 1.0.0-rc.3}}
            {{#unless page.webimHost}}
                <img src="{{page.company.chatLogoURL}}" alt=""/>
            {{else}}
                <a onclick="window.open('{{page.webimHost}}');return false;" href="{{page.webimHost}}">
                    <img src="{{page.company.chatLogoURL}}" alt=""/>
                </a>
            {{/unless}}
        {{else}}
            {{#if page.webimHost}}
                <a onclick="window.open('{{page.webimHost}}');return false;" href="{{page.webimHost}}">
                    <img src="{{page.tplRoot}}/images/default-logo.gif" alt=""/>
                </a>
            {{else}}
                <img src="{{page.tplRoot}}/images/default-logo.gif" alt=""/>
            {{/if}}
        {{/if}}
        &nbsp;
        <div id="page-title">{{page.title}}</div>
        <div class="clear">&nbsp;</div>
    </div>
</div>

{{! Chat header}}
<div id="chat-header">
    <div class="bgc"><div class="bgl"><div class="bgr">
        {{! Chat controls region}}
        <div id="controls-region"></div>
    </div></div></div>
</div>

{{! Chat region}}
<div id="chat">
    <div class="bgl"><div class="bgr"><div class="sdwbgc"><div class="sdwbgl"><div class="sdwbgr">
        {{#unless user.isAgent}}
        <div id="avatar-region"></div>
        {{/unless}}
        {{! Chat messages region}}
        <div id="messages-region"></div>
        {{! Chat status region}}
        <div id="status-region"></div>
    </div></div></div></div></div>
</div>

{{! Message form region}}
<div id="message-form-region"></div>

{{! Footer links}}
<div id="footer">{{L10n "chat.window.poweredby"}} <a id="poweredByLink" href="http://mibew.org" title="Mibew Community" target="_blank">mibew.org</a></div>