{{! Logo block}}
<div id="top2">
    <div id="logo">
        {{#if page.company.chatLogoURL}}
            {{#if page.webimHost}}
                <a onclick="window.open('{{page.webimHost}}');return false;" href="{{page.webimHost}}">
                    <img src="{{page.company.chatLogoURL}}" alt=""/>
                </a>
            {{else}}
                <img src="{{page.company.chatLogoURL}}" alt=""/>
            {{/if}}
        {{else}}
            {{#if page.webimHost}}
                <a onclick="window.open('{{page.webimHost}}');return false;" href="{{page.webimHost}}">
                    <img src="{{page.tplRoot}}/images/default-logo.gif" alt=""/>
                </a>
            {{else}}
                <img src="{{page.tplRoot}}/images/default-logo.gif" alt=""/>
            {{/if}}
        {{/if}}
        &nbsp;
        <div id="page-title">{{page.title}}</div>
        <div class="clear">&nbsp;</div>
    </div>
</div>

{{! Header block. Contains description}}
<div id="headers">
    <div class="wndb"><div class="wndl"><div class="wndr"><div class="wndt"><div class="wndtl"><div class="wndtr"><div class="wndbl"><div class="wndbr" id="description-region">
    </div></div></div></div></div></div></div></div>
</div>

{{! Empty container for main content}}
<div id="content-wrapper"></div>