<span>{{formatTime created}}</span> 
{{#if name}}<span class='name-{{kindName}}'>{{name}}</span>: {{/if}}
<span class='message-{{kindName}}'>{{#replace "\n" "<br/>"}}{{urlReplace message}}{{/replace}}</span><br/>