<td class="visitor">
    <div><a href="javascript:void(0);" class="user-name open-dialog" title="{{#if canOpen}}{{l10n "Click to chat with the visitor"}}{{else}}{{l10n "Watch the chat"}}{{/if}}">{{#if ban}}{{l10n "[spam]"}}&nbsp;{{/if}}{{userName}}</a></div>
    {{#if firstMessage}}<div class="first-message"><a href="javascript:void(0);" title="{{firstMessage}}">{{firstMessagePreview}}</a></div>{{/if}}
</td>
<td class="visitor">
    <div class="default-thread-controls inline-block">
        {{#if canOpen}}
            <div class="control open-dialog open-control inline-block" title="{{l10n "Click to chat with the visitor"}}"></div>
        {{/if}}
        {{#if canView}}
            <div class="control view-control inline-block" title="{{l10n "Watch the chat"}}"></div>
        {{/if}}
        {{#if tracked}}
            <div class="control track-control inline-block" title="{{l10n "Tracked visitor's path"}}"></div>
        {{/if}}
        {{#if canBan}}
            <div class="control ban-control inline-block" title="{{l10n "Ban this visitor"}}"></div>
        {{/if}}
    </div>
    <div class="thread-controls inline-block"></div>
</td>
<td class="visitor">{{#if userIp}}<a href="javascript:void(0);" class="geo-link" title="GeoLocation">{{remote}}</a>{{else}}{{remote}}{{/if}}</td>
<td class="visitor">{{stateDesc}}</td>
<td class="visitor">{{agentName}}</td>
<td class="visitor"><span class="timesince" data-timestamp="{{totalTime}}"></span></td>
<td class="visitor">{{#unless chatting}}<span class="timesince" data-timestamp="{{waitingTime}}"></span>{{else}}-{{/unless}}</td>
<td class="visitor">{{#if ban}}{{ban.reason}}{{else}}{{userAgent}}{{/if}}</td>