<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>{{#block "windowTitle"}}{{l10n "chat.window.title.user"}}{{/block}}</title>
        <link rel="shortcut icon" href="{{stylePath}}/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="{{stylePath}}/chat.css" media="all" />
        {{#block "head"}}{{/block}}
    </head>

    <body>
        {{#block "page"}}
            {{! Logo block}}
            <div id="top2">
                <div id="logo">
                    {{#if company.chatLogoURL}}
                        {{#if mibewHost}}
                            <a onclick="window.open('{{mibewHost}}');return false;" href="{{mibewHost}}">
                                <img src="{{company.chatLogoURL}}" alt=""/>
                            </a>
                        {{else}}
                            <img src="{{company.chatLogoURL}}" alt=""/>
                        {{/if}}
                    {{else}}
                        {{#if mibewHost}}
                            <a onclick="window.open('{{mibewHost}}');return false;" href="{{mibewHost}}">
                                <img src="{{stylePath}}/images/default-logo.gif" alt=""/>
                            </a>
                        {{else}}
                            <img src="{{stylePath}}/images/default-logo.gif" alt=""/>
                        {{/if}}
                    {{/if}}
                    <div id="page-title">{{#block "pageTitle"}}{{l10n "chat.window.title.user"}}{{/block}}</div>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>

            {{! Header block. Contains page description and buttons}}
            <div id="headers">
                <div class="wndb"><div class="wndl"><div class="wndr"><div class="wndt"><div class="wndtl"><div class="wndtr"><div class="wndbl"><div class="wndbr">
                    <div class="buttons">
                        {{#block "buttons"}}{{/block}}
                    </div>
                    <div class="messagetxt">
                        {{#block "message"}}&nbsp;{{/block}}
                    </div>
                </div></div></div></div></div></div></div></div>
            </div>

            {{! Main content block}}
            <div id="content-wrapper">
                {{#block "content"}}&nbsp;{{/block}}
            </div>
        {{/block}}
    </body>
</html>