{{#extends "_layout"}}
    {{#override "head"}}
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="{{stylePath}}/chat_ie7.css" media="all" />
        <![endif]-->

        {{{additional_css}}}

        <!-- External libs -->
        <script type="text/javascript" src="{{mibewRoot}}/js/libs/jquery.min.js"></script>
        <script type="text/javascript" src="{{mibewRoot}}/js/libs/json2.js"></script>
        <script type="text/javascript" src="{{mibewRoot}}/js/libs/underscore-min.js"></script>
        <script type="text/javascript" src="{{mibewRoot}}/js/libs/backbone-min.js"></script>
        <script type="text/javascript" src="{{mibewRoot}}/js/libs/backbone.marionette.min.js"></script>
        <script type="text/javascript" src="{{mibewRoot}}/js/libs/handlebars.js"></script>

        <!-- Javascript templates -->
        <script type="text/javascript" src="{{stylePath}}/templates_compiled/client_side/templates.js"></script>

        <!-- Application files -->
        <script type="text/javascript" src="{{mibewRoot}}/js/compiled/mibewapi.js"></script>
        <script type="text/javascript" src="{{mibewRoot}}/js/compiled/default_app.js"></script>
        <script type="text/javascript" src="{{mibewRoot}}/js/compiled/chat_app.js"></script>

        <!-- Add style scripts -->
        <script type="text/javascript" src="{{stylePath}}/js/compiled/scripts.js"></script>

        {{{additional_js}}}

        <script type="text/javascript"><!--
            // Localized strings for the core
            Mibew.Localization.set({
                'Are you sure want to leave chat?': '{{#jsString}}{{l10n "Are you sure want to leave chat?"}}{{/jsString}}',
                'Remote user is typing...': '{{#jsString}}{{l10n "Remote user is typing..."}}{{/jsString}}',
                'Select answer...': '{{#jsString}}{{l10n "Select answer..."}}{{/jsString}}',
                'Send message': '{{#jsString}}{{l10n "Send message"}}{{/jsString}}',
                'chat.window.send_message_short_and_shortcut': '{{#jsString}}{{l10n "Send ({0})" send_shortcut}}{{/jsString}}',
                'Close chat': '{{#jsString}}{{l10n "Close chat"}}{{/jsString}}',
                'Refresh': '{{#jsString}}{{l10n "Refresh"}}{{/jsString}}',
                'Send chat history by e-mail': '{{#jsString}}{{l10n "Send chat history by e-mail"}}{{/jsString}}',
                'Redirect visitor to another operator': '{{#jsString}}{{l10n "Redirect visitor to another operator"}}{{/jsString}}',
                'Visit history': '{{#jsString}}{{l10n "Visit history"}}{{/jsString}}',
                'You are': '{{#jsString}}{{l10n "You are"}}{{/jsString}}',
                'Change name': '{{#jsString}}{{l10n "Change name"}}{{/jsString}}',
                'Turn off sound': '{{#jsString}}{{l10n "Turn off sound"}}{{/jsString}}',
                'Turn on sound': '{{#jsString}}{{l10n "Turn on sound"}}{{/jsString}}',
                'Powered by:': '{{#jsString}}{{l10n "Powered by:"}}{{/jsString}}',
                'Close...': '{{#jsString}}{{l10n "Close..."}}{{/jsString}}',
                'Choose Department:': '{{#jsString}}{{l10n "Choose Department:"}}{{/jsString}}',
                'Department description:': '{{#jsString}}{{l10n "Department description:"}}{{/jsString}}',
                'Your email': '{{#jsString}}{{l10n "Your email"}}{{/jsString}}',
                'Your name': '{{#jsString}}{{l10n "Your name"}}{{/jsString}}',
                'Message': '{{#jsString}}{{l10n "Message"}}{{/jsString}}',
                'Close': '{{#jsString}}{{l10n "Close"}}{{/jsString}}',
                'Sorry. None of the support team is available at the moment. <br/>Please leave a message and someone will get back to you shortly.': '{{#jsString}}{{l10n "Sorry. None of the support team is available at the moment. <br/>Please leave a message and someone will get back to you shortly."}}{{/jsString}}',
                'Thank you for your message. We\'ll answer your query by email as soon as possible.': '{{#jsString}}{{l10n "Thank you for your message. We'll answer your query by email as soon as possible."}}{{/jsString}}',
                'leavemessage.error.email.required': '{{#jsString}}{{localized.[email.required]}}{{/jsString}}',
                'leavemessage.error.name.required': '{{#jsString}}{{localized.[name.required]}}{{/jsString}}',
                'leavemessage.error.message.required': '{{#jsString}}{{localized.[message.required]}}{{/jsString}}',
                'leavemessage.error.wrong.email': '{{#jsString}}{{localized.[wrong.email]}}{{/jsString}}',
                'The letters you typed don\'t match the letters that were shown in the picture.': '{{#jsString}}{{l10n "The letters you typed don't match the letters that were shown in the picture."}}{{/jsString}}',
                'Send': '{{#jsString}}{{l10n "Send"}}{{/jsString}}',
                'Name:': '{{#jsString}}{{l10n "Name:"}}{{/jsString}}',
                'Email:': '{{#jsString}}{{l10n "Email:"}}{{/jsString}}',
                'Initial Question:': '{{#jsString}}{{l10n "Initial Question:"}}{{/jsString}}',
                'Start Chat': '{{#jsString}}{{l10n "Start Chat"}}{{/jsString}}',
                'Wrong email address.': '{{#jsString}}{{l10n "Wrong email address."}}{{/jsString}}',
                'Live support': '{{#jsString}}{{l10n "Live support"}}{{/jsString}}',
                'Thank you for contacting us. Please fill out the form below and click the Start Chat button.': '{{#jsString}}{{l10n "Thank you for contacting us. Please fill out the form below and click the Start Chat button."}}{{/jsString}}'
            });
            // Plugins localization
            Mibew.Localization.set({{{additional_localized_strings}}});
        //--></script>

        <!-- Run application -->
        <script type="text/javascript"><!--
            jQuery(document).ready(function(){
                Mibew.Application.start({
                    server: {
                        url: '{{route "chat_thread_update"}}',
                        requestsFrequency: {{frequency}}
                    },
                    page: {
                        style: '{{styleName}}',
                        mibewRoot: '{{mibewRoot}}',
                        stylePath: '{{stylePath}}',
                        company: {
                            name: '{{#jsString}}{{company.name}}{{/jsString}}',
                            chatLogoURL: '{{company.chatLogoURL}}'
                        },
                        mibewHost: '{{mibewHost}}',
                        title: '{{#jsString}}{{[page.title]}}{{/jsString}}'
                    },
                    {{#if chatOptions}}
                        chatOptions: {{{chatOptions}}},
                    {{/if}}
                    {{#if surveyOptions}}
                        surveyOptions: {{{surveyOptions}}},
                    {{/if}}
                    {{#if leaveMessageOptions}}
                        leaveMessageOptions: {{{leaveMessageOptions}}},
                    {{/if}}
                    {{#if invitationOptions}}
                        invitationOptions: {{{invitationOptions}}},
                    {{/if}}
                    startFrom: '{{startFrom}}',
                    plugins: {{{js_plugin_options}}}
                });
            });
        //--></script>
    {{/override}}

    {{#override "page"}}
        <div id="main-region"></div>
    {{/override}}
{{/extends}}