{{#extends "_layout"}}
    {{#override "head"}}
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="{{asset "@CurrentStyle/chat_ie7.css"}}" media="all" />
        <![endif]-->

        {{{additional_css}}}

        <!-- External libs -->
        <script type="text/javascript" src="{{asset "js/libs/jquery.min.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/libs/json2.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/libs/underscore-min.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/libs/backbone-min.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/libs/backbone.marionette.min.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/libs/handlebars.min.js"}}"></script>

        <!-- Javascript templates -->
        <script type="text/javascript" src="{{asset "@CurrentStyle/templates_compiled/client_side/templates.js"}}"></script>

        <!-- Application files -->
        <script type="text/javascript" src="{{asset "js/compiled/mibewapi.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/compiled/default_app.js"}}"></script>
        <script type="text/javascript" src="{{asset "js/compiled/chat_app.js"}}"></script>

        <!-- Localized string -->
        <script type="text/javascript" src="{{route "js_translation" locale=currentLocale}}"></script>

        <!-- Add style scripts -->
        <script type="text/javascript" src="{{asset "@CurrentStyle/js/compiled/scripts.js"}}"></script>

        {{{additional_js}}}

        <script type="text/javascript"><!--
            // Localized strings for the core
            Mibew.Localization.set({
                'chat.window.send_message_short_and_shortcut': '{{#jsString}}{{l10n "Send ({0})" send_shortcut}}{{/jsString}}',
                'leavemessage.error.email.required': '{{#jsString}}{{localized.[email.required]}}{{/jsString}}',
                'leavemessage.error.name.required': '{{#jsString}}{{localized.[name.required]}}{{/jsString}}',
                'leavemessage.error.message.required': '{{#jsString}}{{localized.[message.required]}}{{/jsString}}',
                'leavemessage.error.wrong.email': '{{#jsString}}{{localized.[wrong.email]}}{{/jsString}}',
            });
            // Plugins localization
            Mibew.Localization.set({{{additional_localized_strings}}});
        //--></script>

        <!-- Run application -->
        <script type="text/javascript"><!--
            jQuery(document).ready(function(){
                Mibew.Application.start({
                    server: {
                        url: '{{route "chat_thread_update"}}',
                        requestsFrequency: {{frequency}}
                    },
                    page: {
                        style: '{{styleName}}',
                        mibewBasePath: '{{mibewBasePath}}',
                        mibewBaseUrl: '{{mibewBaseUrl}}',
                        stylePath: '{{mibewBasePath}}/{{stylePath}}',
                        company: {
                            name: '{{#jsString}}{{company.name}}{{/jsString}}',
                            chatLogoURL: '{{company.chatLogoURL}}'
                        },
                        mibewHost: '{{mibewHost}}',
                        title: '{{#jsString}}{{[page.title]}}{{/jsString}}'
                    },
                    {{#if chatOptions}}
                        chatOptions: {{{chatOptions}}},
                    {{/if}}
                    {{#if surveyOptions}}
                        surveyOptions: {{{surveyOptions}}},
                    {{/if}}
                    {{#if leaveMessageOptions}}
                        leaveMessageOptions: {{{leaveMessageOptions}}},
                    {{/if}}
                    {{#if invitationOptions}}
                        invitationOptions: {{{invitationOptions}}},
                    {{/if}}
                    startFrom: '{{startFrom}}',
                    plugins: {{{js_plugin_options}}}
                });
            });
        //--></script>
    {{/override}}

    {{#override "page"}}
        <div id="main-region"></div>
    {{/override}}
{{/extends}}