{{#extends "_layout"}}
    {{#override "pageTitle"}}{{l10n "chat.error_page.title"}}{{/override}}

    {{#override "buttons"}}
        <a href="javascript:window.close();" title="{{l10n 'page.chat.old_browser.close'}}">
            <img class="tpl-image iclosewin" src="{{stylePath}}/images/free.gif" alt="{{l10n 'page.chat.old_browser.close'}}" />
        </a>
    {{/override}}

    {{#override "message"}}<p>{{l10n "page.chat.old_browser.problem"}}</p>{{/override}}

    {{#override "content"}}
        <ul>
            {{#each supportedBrowsers}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/override}}
{{/extends}}