{{#if user.canChangeName}}
    <span class="user-name-control-prefix">{{l10n "chat.client.name"}}</span>
    {{#if nameInput}}
        <div class="user-name-control-input-bg"><input id="user-name-control-input" type="text" size="12" value="{{user.name}}" class="username" /></div>
        <a href="javascript:void(0)" class="user-name-control-set tpl-image" title="{{l10n "chat.client.changename"}}"></a>
    {{else}}
        <a href="javascript:void(0)" title="{{l10n "chat.client.changename"}}">{{user.name}}</a>
        <a class="user-name-control-change tpl-image" title="{{l10n "chat.client.changename"}}"></a>
    {{/if}}
{{else}}
{{l10n "chat.client.name"}}&nbsp;{{user.name}}
{{/if}}