{{! Logo block}}
<div id="top2">
    <div id="logo">
        {{#if page.company.chatLogoURL}}
            {{#if page.mibewHost}}
                <a onclick="window.open('{{page.mibewHost}}');return false;" href="{{page.mibewHost}}">
                    <img src="{{page.company.chatLogoURL}}" alt=""/>
                </a>
            {{else}}
                <img src="{{page.company.chatLogoURL}}" alt=""/>
            {{/if}}
        {{else}}
            {{#if page.mibewHost}}
                <a onclick="window.open('{{page.mibewHost}}');return false;" href="{{page.mibewHost}}">
                    <img src="{{page.tplRoot}}/images/default-logo.gif" alt=""/>
                </a>
            {{else}}
                <img src="{{page.tplRoot}}/images/default-logo.gif" alt=""/>
            {{/if}}
        {{/if}}
        &nbsp;
        <div id="page-title">{{page.title}}</div>
        <div class="clear">&nbsp;</div>
    </div>
</div>

{{! Header block. Contains description and close link}}
<div id="headers">
    <div class="wndb"><div class="wndl"><div class="wndr"><div class="wndt"><div class="wndtl"><div class="wndtr"><div class="wndbl"><div class="wndbr">
        <div class="buttons">
            <a href="javascript:window.close();" title="{{L10n "leavemessage.close"}}"><img class="tpl-image iclosewin" src="{{page.tplRoot}}/images/free.gif" alt="{{L10n "leavemessage.close"}}" /></a>
        </div>
        <div class="messagetxt">{{L10n "presurvey.intro"}}</div>
    </div></div></div></div></div></div></div></div>
</div>

{{! Empty container for main content}}
<div id="content-wrapper"></div>