{{#extends "_layout"}}
    {{#if localeLinks}}
        {{#override "menu"}}{{> _locales}}{{/override}}
    {{/if}}

    {{#override "content"}}
        {{#if isdone}}
            <div id="login-pane">
                <div class="header">
                    <h2>{{l10n "Your password has been changed."}}</h2>
                </div>

                <div class="form-fields">
                    {{l10n "Login using your new password."}}
                    <br/>
                    <br/>
                    <a href="{{route "login" login=loginname}}">{{l10n "Proceed to login"}}</a>
                </div>
            </div>
        {{else}}
            <form name="resetForm" method="post" action="{{route "password_recovery_reset"}}">
                {{csrfTokenInput}}

                <input type="hidden" name="id" value="{{id}}"/>
                <input type="hidden" name="token" value="{{token}}"/>

                <div id="login-pane">

                    <div class="header">
                        <h2>{{l10n "Change your password"}}</h2>
                    </div>

                    <div class="form-fields">
                        {{l10n "Please choose a password to use with your account."}}

                        <br/>
                        <br/>

                        {{> _errors}}

                        {{#if showform}}
                            <div class="field">
                                <div class="field-label-left">{{l10n "Password"}}</div>
                                <div class="field-value">
                                    <input type="password" name="password" size="25" value="" class="field-input" autocomplete="off"/>
                                </div>
                                <br clear="all"/>
                            </div>

                            <div class="field">
                                <div class="field-label-left">{{l10n "Confirmation"}}</div>
                                <div class="field-value">
                                    <input type="password" name="passwordConfirm" size="25" value="" class="field-input" autocomplete="off"/>
                                </div>
                                <br clear="all"/>
                            </div>

                            <div class="form-button">
                                <table class="submit-button">
                                    <tr>
                                        <td>
                                            <a href="javascript:document.resetForm.submit();">
                                                <img src="{{asset "@CurrentStyle/images/submit.gif"}}" width="40" height="35" border="0" alt="" />
                                            </a>
                                        </td>
                                        <td class="submit">
                                            <a href="javascript:document.resetForm.submit();">
                                                {{l10n "Change"}}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:document.resetForm.submit();">
                                                <img src="{{asset "@CurrentStyle/images/submitrest.gif"}}" width="10" height="35" border="0" alt="" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>

                                <div class="links">
                                    <a href="{{route "login"}}">{{l10n "Back to login"}}</a>
                                </div>
                            </div>
                        {{else}}
                            <a href="{{route "login"}}">{{l10n "Back to login"}}</a>
                        {{/if}}
                    </div>

                </div>
            </form>
        {{/if}}
    {{/override}}
{{/extends}}