{{#extends "_layout"}}
    {{#if localeLinks}}
        {{#override "menu"}}{{> _locales}}{{/override}}
    {{/if}}

    {{#override "content"}}
        {{#if isdone}}
            <div id="login-pane">
                <div class="header">
                    <h2>{{l10n "Password retrieval"}}</h2>
                </div>

                <div class="form-fields">
                    {{l10n "We've sent the instructions to your email. Please check it."}}
                    <br/>
                    <br/>
                    <a href="{{route "login"}}">{{l10n "Back to login"}}</a>
                </div>
            </div>
        {{else}}
            <form name="restoreForm" method="post" action="{{route "password_recovery"}}">
                {{csrfTokenInput}}

                <div id="login-pane">

                    <div class="header">
                        <h2>{{l10n "Trouble Accessing Your Account?"}}</h2>
                    </div>

                    <div class="form-fields">
                        {{l10n "You cannot retrieve your password, but you can set a new one by following a link sent to you by email."}}<br/><br/>

                        {{> _errors}}

                        <div class="field">
                            <div class="field-label-left">{{l10n "Login or E-mail:"}}</div>
                            <div class="field-value">
                                <input type="text" name="loginoremail" size="25" value="{{formloginoremail}}" class="field-input"/>
                            </div>
                            <br clear="all"/>
                        </div>

                        <div class="form-button">
                            <table class="submit-button">
                                <tr>
                                    <td>
                                        <a href="javascript:document.restoreForm.submit();">
                                            <img src="{{asset "@CurrentStyle/images/submit.gif"}}" width="40" height="35" border="0" alt="" />
                                        </a>
                                    </td>
                                    <td class="submit">
                                        <a href="javascript:document.restoreForm.submit();">
                                            {{l10n "Reset password"}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="javascript:document.restoreForm.submit();">
                                            <img src="{{asset "@CurrentStyle/images/submitrest.gif"}}" width="10" height="35" border="0" alt="" />
                                        </a>
                                    </td>
                                </tr>
                            </table>

                            <div class="links">
                                <a href="{{route "login"}}">{{l10n "Back to login"}}</a>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
        {{/if}}
    {{/override}}
{{/extends}}