{{! Logo block}}
<div id="top2">
    <div id="logo">
        {{#if page.company.chatLogoURL}}
            {{! Use 'unless' instead of 'if' because of the bug with nested 'if else' in handlebars 1.0.0-rc.3}}
            {{#unless page.webimHost}}
                <img src="{{page.company.chatLogoURL}}" alt=""/>
            {{else}}
                <a onclick="window.open('{{page.webimHost}}');return false;" href="{{page.webimHost}}">
                    <img src="{{page.company.chatLogoURL}}" alt=""/>
                </a>
            {{/unless}}
        {{else}}
            {{#if page.webimHost}}
                <a onclick="window.open('{{page.webimHost}}');return false;" href="{{page.webimHost}}">
                    <img src="{{page.tplRoot}}/images/default-logo.gif" alt=""/>
                </a>
            {{else}}
                <img src="{{page.tplRoot}}/images/default-logo.gif" alt=""/>
            {{/if}}
        {{/if}}
        &nbsp;
        <div id="page-title">{{page.title}}</div>
        <div class="clear">&nbsp;</div>
    </div>
</div>

{{! Header block. Contains description and close link}}
<div id="headers">
    <div class="wndb"><div class="wndl"><div class="wndr"><div class="wndt"><div class="wndtl"><div class="wndtr"><div class="wndbl"><div class="wndbr">
        <div class="buttons">
            <a href="javascript:window.close();" title="{{L10n "leavemessage.close"}}"><img class="tpl-image iclosewin" src="{{page.webimRoot}}/images/free.gif" alt="{{L10n "leavemessage.close"}}" /></a>
        </div>
        <div class="messagetxt">{{L10n "presurvey.intro"}}</div>
    </div></div></div></div></div></div></div></div>
</div>

{{! Empty container for main content}}
<div id="content-wrapper"></div>