<table class="awaiting" border="0">
<thead>
<tr>
    <th class="first">{{l10n "pending.table.head.name"}}</th>
    <th>{{l10n "pending.table.head.actions"}}</th>
    <th>{{l10n "pending.table.head.contactid"}}</th>
    <th>{{l10n "pending.table.head.state"}}</th>
    <th>{{l10n "pending.table.head.operator"}}</th>
    <th>{{l10n "pending.table.head.total"}}</th>
    <th>{{l10n "pending.table.head.waittime"}}</th>
    <th>{{l10n "pending.table.head.etc"}}</th>
</tr>
</thead>
<tbody id="threads-container">

</tbody>
</table>