<table class="awaiting" border="0">
<thead>
<tr>
    <th class="first">{{l10n "Name"}}</th>
    <th>{{l10n "Actions"}}</th>
    <th>{{l10n "Visitor's address"}}</th>
    <th>{{l10n "State"}}</th>
    <th>{{l10n "Operator"}}</th>
    <th>{{l10n "Total time"}}</th>
    <th>{{l10n "Waiting time"}}</th>
    <th>{{l10n "Misc"}}</th>
</tr>
</thead>
<tbody id="threads-container">

</tbody>
</table>