<table id="visitorslist" class="awaiting" border="0">
<thead>
<tr>
    <th class="first">{{l10n "visitors.table.head.name"}}</th>
    <th>{{l10n "visitors.table.head.actions"}}</th>
    <th>{{l10n "visitors.table.head.contactid"}}</th>
    <th>{{l10n "visitors.table.head.firsttimeonsite"}}</th>
    <th>{{l10n "visitors.table.head.lasttimeonsite"}}</th>
    <th>{{l10n "visitors.table.head.invited.by"}}</th>
    <th>{{l10n "visitors.table.head.invitationtime"}}</th>
    <th>{{l10n "visitors.table.head.invitations"}}</th>
    <th>{{l10n "visitors.table.head.etc"}}</th>
</tr>
</thead>
<tbody id="visitors-container">
</tbody>
</table>